<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SAMBHSConnectionString" connectionString="metadata=res://*/DMMSQL.csdl|res://*/DMMSQL.ssdl|res://*/DMMSQL.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=postgres;Host=localhost;Database=TIS_INTEGRADO;Initial Schema=public&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>