<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SAMBHSConnectionString" connectionString="metadata=res://SAMBHS.Common.DataModel.MSSQL/DMMSQL.csdl|res://SAMBHS.Common.DataModel.MSSQL/DMMSQL.ssdl|res://SAMBHS.Common.DataModel.MSSQL/DMMSQL.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=postgres;Host=localhost;Database=TIS_INTEGRADO;Initial Schema=public&quot;"
            providerName="System.Data.EntityClient" />
        <add name="SAMBHSConnectionStringWin" connectionString="metadata=res://SAMBHS.Common.DataModel.MSSQLWIN/DMMSQLWIN.csdl|res://SAMBHS.Common.DataModel.MSSQLWIN/DMMSQLWIN.ssdl|res://SAMBHS.Common.DataModel.MSSQLWIN/DMMSQLWIN.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sistema4-pc;Initial Catalog=11111111111;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=123456&quot;"
            providerName="System.Data.EntityClient" />
        <add name="SigesoftConnectionString" connectionString="metadata=res://SAMBHS.Common.DataModel.MSSQLSIGESOFT/DMnodeSQLServer.csdl|res://SAMBHS.Common.DataModel.MSSQLSIGESOFT/DMnodeSQLServer.ssdl|res://SAMBHS.Common.DataModel.MSSQLSIGESOFT/DMnodeSQLServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.179\CSL_2020;Initial Catalog=SigesoftDesarrollo_2;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=123456&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>